/* Core Media Styles */

img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

/* Caption style (optional) */
.caption {
    font-size: 0.85em;
    color: var(--main-color);
    text-align: center;
    font-style: italic;
}

/* Image Group */

.image-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  gap: 0.5rem;
}